<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zpx.itl.mapper.InfoMapper">
	<resultMap id="BaseResultMap"
		type="com.zpx.itl.pojo.Information">
		<id column="snumber" property="snumber" jdbcType="VARCHAR" />
		<id column="name" property="name" jdbcType="VARCHAR" />
		<id column="sex" property="sex" jdbcType="VARCHAR" />
		<id column="specialty" property="specialty" jdbcType="VARCHAR" />
		<id column="department" property="department" jdbcType="VARCHAR" />
		<id column="tel" property="tel" jdbcType="VARCHAR" />
		<id column="skill" property="skill" jdbcType="VARCHAR" />
		<id column="describe" property="describe" jdbcType="VARCHAR" />
		<id column="uid" property="uid" jdbcType="VARCHAR" />

	</resultMap>
	
	<!-- 添加信息 -->
	<insert id="addInfo" parameterType="com.zpx.itl.pojo.Information">
		INSERT INTO itl_info ( snumber, NAME, sex, specialty, department, tel, skill, describes, uid )
		VALUES
			(
			$ { snumber },
			$ { NAME },
			$ { sex },
			$ { specialty },
			$ { department },
			$ { tel },
			$ { skill },
			$ { describes },
			$ { uid } 
			);
	</insert>


	<!-- 查询总记录数 -->
	<select id="getTotal" resultType="int">
		SELECT
			count( * ) 
		FROM
			itl_info;
	</select>

	<!-- 查询所有数据 -->
	<select id="findAll" parameterType="int" resultType="com.zpx.itl.pojo.Information">
		SELECT
			* 
		FROM
			itl_info 
		ORDER BY
		NAME 
			LIMIT #{0}, #{1};
	</select>
	
	<!-- 根据学号查询详细信息 -->
	<select id="findByUid" parameterType="java.lang.String" resultType="com.zpx.itl.pojo.Information" >
		SELECT
			* 
		FROM
			itl_info 
		WHERE
			uid = #{0};
	</select>
	
	<!-- 根据姓名进行模糊查询 -->
	<select id="findByName" parameterType="com.zpx.itl.pojo.Param" resultType="com.zpx.itl.pojo.Information" >
		
		SELECT
			* 
		FROM
			itl_info
		WHERE
			NAME LIKE '%' '${sname}' '%'
			LIMIT ${count}, ${pageSize};
	</select>
	
	<!-- 查出模糊查询的总记录数 -->
	<select id="getTotalByName" parameterType="com.zpx.itl.pojo.Param" resultType="int">
		SELECT
			count( * ) 
		FROM
			itl_info
		WHERE
			NAME LIKE '%' '${sname}' '%';
	</select>

</mapper>